Repository sirhCC/Smart-Dependency-Analyzer: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --config config/eslint.config.js --max-warnings=0, prettier --write

docs: add section on automated dependency updates using Dependabot
  README.md
Due: prettier --write

feat: add Dependabot configuration for automated npm and GitHub Actions updates
  .github/dependabot.yml
Due: prettier --write

feat: add Dependabot auto-merge workflow for safe updates
  .github/workflows/dependabot-auto-merge.yml
Due: prettier --write

chore: add PR template with quality gates and testing checklist
  .github/pull_request_template.md
Due: prettier --write

fix: update project description for clarity and accuracy
  package.json
Due: prettier --write

fix: update module description and logging for clarity in AI engine
  src/core/intelligence/ai-engine.ts
Due: eslint --config config/eslint.config.js --max-warnings=0, prettier --write

fix: update log messages for clarity in AI intelligence tests
  src/test/ai-intelligence-test.ts
Due: eslint --config config/eslint.config.js --max-warnings=0, prettier --write

fix: update documentation and logging for clarity in Comprehensive Security Engine
  src/core/intelligence/comprehensive-security-engine.ts
Due: eslint --config config/eslint.config.js --max-warnings=0, prettier --write

fix: update log messages for clarity in AI intelligence quick test
  src/test/ai-quick-test.ts
Due: eslint --config config/eslint.config.js --max-warnings=0, prettier --write

fix: update log messages for clarity in ultimate security test
  src/test/ultimate-security-test.ts
Due: eslint --config config/eslint.config.js --max-warnings=0, prettier --write

fix: enhance clarity in README by refining descriptions of security analysis and features
  README.md
Due: prettier --write

fix: refine project overview description for clarity and accuracy
  .github/copilot-instructions.md
Due: prettier --write

fix: add initial TypeScript configuration file
  tsconfig.json
Due: prettier --write

fix: update instructions for clarity and alignment with enterprise focus
  docs/INSTRUCTIONS.md
Due: prettier --write

fix: implement centralized retry utility with exponential backoff and jitter for resilient HTTP requests
  src/integrations/security/github-advisory.ts
  src/utils/retry.test.ts
  src/utils/retry.ts
Due: eslint --config config/eslint.config.js --max-warnings=0, prettier --write

fix: suppress console output in JSON mode and enhance logging clarity
  src/cli/index.ts
Due: eslint --config config/eslint.config.js --max-warnings=0, prettier --write

test: add comprehensive CLI integration tests for analyze and license commands
  src/test/integration/cli.integration.test.ts
Due: eslint --config config/eslint.config.js --max-warnings=0, prettier --write

feat: enhance logger configuration to support silent mode and improve dynamic log level updates
  src/test/integration/license-intelligence.integration.test.ts
  src/test/integration/vulnerability-scanning.integration.test.ts
  src/utils/logger.ts
Due: eslint --config config/eslint.config.js --max-warnings=0, prettier --write

fix: add optional bypass for pre-push checks to facilitate local development
  .husky/pre-push
Due: none

Path conditions:
  eslint --config config/eslint.config.js --max-warnings=0: any of: *.{ts,tsx,js,cts,mts}
  prettier --write: (any of: *.{ts,tsx,js,cts,mts}) or (any of: *.{json,md,yml,yaml})
